    .container{
        display: flex;
        flex-direction: column;
        height: 95vh;
        font-size: 2em;
    }
    .container div{
        border: 1px black solid;
    }
    #side{
        display: none;
    }
    @media screen and (min-width: 360px){
        #side{
            display: block;
        }
    }